* {
	padding: 0;
	margin: 0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/progress.gif') 50% 50% no-repeat rgb(249,249,249);
}

.container {
	width: 80%;
	margin: auto;
	background-color: #2F8386;
	margin-top: 100px;
}
.profile__left-section {
	width: 30%;
	vertical-align: middle;
}

.profile__right-section {
	width: 69%;
}
.profile__left-section,
.profile__right-section {
	display: inline-block;
}

.profile__left-section img {
	max-width: 100%;
	width: 200px;
	height: 200px;
	padding: 40px;
	box-shadow: inset -10px -30px rgba(0,0,0,.06);
	border-radius: 50%;
	-webkit-animation: bobble 5s ease-in-out infinite;
	animation: bobble 5s ease-in-out infinite;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-transition: padding .3s, bottom .3s;
	transition: padding .3s, bottom .3s;
	text-align: center;
	background: cadetblue;
}

@-webkit-keyframes bobble {
	33% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	66% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}

.profile__image:hover {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
}
